/**
 *
 * @copyright  2010-2011 izend.org
 * @version    4
 * @link       http://www.izend.org
 */
 
/* en.css */

.submit_add {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/add.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_cancel {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/cancel.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_change {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/change.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_comment {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/comment.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_confirm {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/confirm.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_delete {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/delete.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_edit {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/edit.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_enter {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/enter.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_hide {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/hide.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_modify {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/modify.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_search {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/search.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_send {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/send.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_show {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/show.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_sort {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/sort.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_validate {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/validate.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}

#sharebar {width:65px;margin-left:-110px;}
