/**
 *
 * @copyright  2010-2012 izend.org
 * @version    7
 * @link       http://www.izend.org
 */
 
/* fr.css */

.submit_add {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/ajouter.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_cancel {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/annuler.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_change {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/changer.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_comment {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/commenter.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_configure {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/configurer.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_confirm {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/confirmer.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_delete {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/supprimer.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_edit {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/editer.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_enter {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/entrer.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_hide {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/cacher.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_modify {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/modifier.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_put {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/telecharger.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_search {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/chercher.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_send {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/envoyer.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_show {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/montrer.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_sort {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/trier.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
.submit_validate {width:100px;height:30px;padding:0;margin:0;border:none;background:transparent url(../images/theme/valider.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}

.submit_donate {width:108px;height:21px;background:transparent url(../images/paypal_donate_fr.gif) no-repeat;}
.submit_paypal {width:100px;height:35px;background:transparent url(../logos/paypal.gif) no-repeat;}

#sharebar {width:75px;margin-left:-120px;}
