/**
 *
 * @copyright  2010-2018 izend.org
 * @version    24
 * @link       http://www.izend.org
 */
 
/* fr.css */

.submit_add {width:100px;height:30px;background:transparent url(../images/theme/ajouter.png) no-repeat;}
.submit_cancel {width:100px;height:30px;background:transparent url(../images/theme/annuler.png) no-repeat;}
.submit_change {width:100px;height:30px;background:transparent url(../images/theme/changer.png) no-repeat;}
.submit_comment {width:100px;height:30px;background:transparent url(../images/theme/commenter.png) no-repeat;}
.submit_configure {width:100px;height:30px;background:transparent url(../images/theme/configurer.png) no-repeat;}
.submit_confirm {width:100px;height:30px;background:transparent url(../images/theme/confirmer.png) no-repeat;}
.submit_copy {width:100px;height:30px;background:transparent url(../images/theme/copier.png) no-repeat;}
.submit_delete {width:100px;height:30px;background:transparent url(../images/theme/supprimer.png) no-repeat;}
.submit_download {width:100px;height:30px;background:transparent url(../images/theme/telecharger.png) no-repeat;}
.submit_draw {width:100px;height:30px;background:transparent url(../images/theme/tracer.png) no-repeat;}
.submit_edit {width:100px;height:30px;background:transparent url(../images/theme/editer.png) no-repeat;}
.submit_enter {width:100px;height:30px;background:transparent url(../images/theme/entrer.png) no-repeat;}
.submit_hide {width:100px;height:30px;background:transparent url(../images/theme/cacher.png) no-repeat;}
.submit_modify {width:100px;height:30px;background:transparent url(../images/theme/modifier.png) no-repeat;}
.submit_pay {width:100px;height:30px;background:transparent url(../images/theme/payer.png) no-repeat;}
.submit_post {width:100px;height:30px;background:transparent url(../images/theme/poster.png) no-repeat;}
.submit_put {width:100px;height:30px;background:transparent url(../images/theme/telecharger.png) no-repeat;}
.submit_search {width:100px;height:30px;background:transparent url(../images/theme/chercher.png) no-repeat;}
.submit_send {width:100px;height:30px;background:transparent url(../images/theme/envoyer.png) no-repeat;}
.submit_show {width:100px;height:30px;background:transparent url(../images/theme/montrer.png) no-repeat;}
.submit_sort {width:100px;height:30px;background:transparent url(../images/theme/trier.png) no-repeat;}
.submit_test {width:100px;height:30px;background:transparent url(../images/theme/tester.png) no-repeat;}
.submit_upload {width:100px;height:30px;background:transparent url(../images/theme/telecharger.png) no-repeat;}
.submit_validate {width:100px;height:30px;background:transparent url(../images/theme/valider.png) no-repeat;}

.submit_subscribe {width:120px !important;height:24px !important;background:transparent url(../images/paypal_subscribe_fr.png) no-repeat !important;text-indent:-1000em !important;box-shadow:none !important;}
.submit_donate {width:120px !important;height:24px !important;background:transparent url(../images/paypal_donate_fr.png) no-repeat !important;text-indent:-1000em !important;box-shadow:none !important;}
.submit_buy {width:120px !important;height:24px !important;background:transparent url(../images/paypal_buy_fr.png) no-repeat !important;text-indent:-1000em !important;box-shadow:none !important;}
.submit_pay {width:120px !important;height:24px !important;background:transparent url(../images/paypal_pay_fr.png) no-repeat !important;text-indent:-1000em !important;box-shadow:none !important;}
.submit_paypal {width:100px !important;height:35px !important;background:transparent url(../logos/paypal.gif) no-repeat !important;text-indent:-1000em !important;box-shadow:none !important;}

#sharebar.standard {width:74px;margin-left:-114px;}
