/**
 *
 * @copyright  2010-2012 izend.org
 * @version    10
 * @link       http://www.izend.org
 */
 
/* fr.css */

.submit_add {width:100px;height:30px;background:transparent url(../images/theme/ajouter.png) no-repeat;}
.submit_cancel {width:100px;height:30px;background:transparent url(../images/theme/annuler.png) no-repeat;}
.submit_change {width:100px;height:30px;background:transparent url(../images/theme/changer.png) no-repeat;}
.submit_comment {width:100px;height:30px;background:transparent url(../images/theme/commenter.png) no-repeat;}
.submit_configure {width:100px;height:30px;background:transparent url(../images/theme/configurer.png) no-repeat;}
.submit_confirm {width:100px;height:30px;background:transparent url(../images/theme/confirmer.png) no-repeat;}
.submit_delete {width:100px;height:30px;background:transparent url(../images/theme/supprimer.png) no-repeat;}
.submit_edit {width:100px;height:30px;background:transparent url(../images/theme/editer.png) no-repeat;}
.submit_enter {width:100px;height:30px;background:transparent url(../images/theme/entrer.png) no-repeat;}
.submit_hide {width:100px;height:30px;background:transparent url(../images/theme/cacher.png) no-repeat;}
.submit_modify {width:100px;height:30px;background:transparent url(../images/theme/modifier.png) no-repeat;}
.submit_put {width:100px;height:30px;background:transparent url(../images/theme/telecharger.png) no-repeat;}
.submit_search {width:100px;height:30px;background:transparent url(../images/theme/chercher.png) no-repeat;}
.submit_send {width:100px;height:30px;background:transparent url(../images/theme/envoyer.png) no-repeat;}
.submit_show {width:100px;height:30px;background:transparent url(../images/theme/montrer.png) no-repeat;}
.submit_sort {width:100px;height:30px;background:transparent url(../images/theme/trier.png) no-repeat;}
.submit_validate {width:100px;height:30px;background:transparent url(../images/theme/valider.png) no-repeat;}

.submit_donate {width:108px !important;height:21px !important;background:transparent url(../images/paypal_donate_fr.gif) no-repeat !important;text-indent:-1000em !important;}
.submit_buy {width:82px !important;height:21px !important;background:transparent url(../images/paypal_buy_fr.gif) no-repeat !important;text-indent:-1000em !important;}
.submit_pay {width:69px !important;height:21px !important;background:transparent url(../images/paypal_pay_fr.gif) no-repeat !important;text-indent:-1000em !important;}
.submit_paypal {width:100px !important;height:35px !important;background:transparent url(../logos/paypal.gif) no-repeat !important;text-indent:-1000em !important;}

#sharebar {width:75px;margin-left:-120px;}
