/**
 *
 * @copyright  2013-2016 izend.org
 * @version    22
 * @link       http://www.izend.org
 */
 
/* media.css */

@media screen and (max-width:1100px) {
body {margin-left:auto;margin-right:5px;}
}

@media screen and (min-width:1100px) {
#shareline {position:absolute !important;top:-9999px !important;left:-9999px !important;}
}

@media screen and (max-width:1099px) {
#sharebar, #toolbar {position:absolute !important;top:-9999px !important;left:-9999px !important;}
}

@media screen and (max-width:1024px) {
body {margin-left:auto;margin-right:auto;}
}

@media screen and (max-width:960px) {
#banner, #content, #footer {padding-left:5px;padding-right:5px;}
}

@media screen and (max-width:720px) {
#logo {float:none;width:100%;}
#logo h1 a {width:100%;}
#bannermenu {margin-left:0;}
h3 {background:none;text-indent:0;}
}

@media screen and (max-width:640px) {
div.row {display:inline;}
div.row > * {margin:1em 0;}
div.row.tight > * {margin:0;}
div.bytwo > *, div.bythree > *, div.byfour > * {width:100%;}
}

@media screen and (max-width:480px) {
audio, video {max-width:100%;}
video {height:auto;}
#bannertools {float:left;clear:left;}
#banner #donate {float:left;margin:3px 0 12px 0;}
#banner #searchinput {float:left;margin:-2px 10px 10px 0;}
#banner #headline {float:left;margin:0 10px 10px 0;text-align:left;}
#sidebar {width:100%;float:none;margin-left:0;margin-bottom:1em;}
#sidebar #searchinput {max-width:100%;margin-left:0;margin-right:auto;}
#sidebar #headline {text-align:left;}
#sidebar #donate {float:none;}
#sidebar .hidy {margin-left:4px;}
#sidebar .cloud li .btn_index {float:right;margin-left:6px;margin-right:0;}
#linkbar a {display:block;margin:1em 0;}
#linkbar a span {margin:0;}
#summary {text-align:left;}
.left, .right, .vignette {max-width:50%;}
.tagbar .tagmore {margin-left:0;}
}

@media screen and (max-width:360px) {
#sidebar .cloud {display:none;}
#comments .signature {float:none;}
.bbcodebar_limiter {margin-left:0;}
.bbcodehelp {display:none;}
.left, .right, .vignette {float:none;display:block;max-width:100%;}
.left, .right, .vignette {margin:1em 0 !important;}
.blogsummarytitle .date {float:none;}
#homemenu h3 {text-align:left;}
}

@media screen and (max-width:240px) {
#summary {border:none;padding:0;}
.summary {float:none;border:none;margin:1em 0;padding:0;text-align:left;}
}

@media screen and (max-width:220px) {
#searchinput {display:none;}
}
