/**
 *
 * @copyright  2012-2018 izend.org
 * @version    8
 * @link       http://www.izend.org
 */
 
/* newsletter.css */

body {max-width:960px;margin:1em auto;font-family:Verdana, sans-serif;font-size:100%;line-height:1.25;background-color:#ffffff;color:#333333;}

@media (max-width:960px) {
body {margin:1em 5px;}
}

h1, h2, h3, h4, h5, h6, label, caption, #rate-it legend {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}

code {font-family:"Courier New", Courier, monospace;}
pre code {font-size:10pt;}

h1,h2,h3,h4,h5,h6 {font-weight:bold;margin:1em 0 1em 0;}

h1 {font-size:170%;}
h2 {font-size:160%;line-height:130%;}
h3 {font-size:140%;}
h4 {font-size:110%;}
h5 {font-size:110%;}
h6 {font-size:100%;}

fieldset {display:inline-block;padding:0.5em;}

label, legend {font-size:80%;}

table th, table td {padding:5px;margin:0;}
table th {background-color:#ffffce;font-weight:bold;}

input {font-family:Verdana, sans-serif;font-size:10pt;}

img {vertical-align:middle;max-width:100%;height:auto;}

a img {border:0;vertical-align:middle;margin:0;}

ol {list-style-type:decimal;}
ul {list-style-type:disc;}

ul, pre {margin-top:1em;}

pre {background:#ffffe0;border-style:solid;border-color:#eaefb3;border-width:1px 0 4px 6px;padding:0.5em;overflow:auto;}

h1,h2,h3 {color:#aec14e;}
h4 {color:#aec14e;}
h5 {color:#df6f6f;}
h6 {color:#666666;}

label, legend {color:#666666;}

a:link, a:visited {color:#ec902d;text-decoration:none;}
a:hover {color:#333333;text-decoration:none;}

.top {margin-top:0 !important;}
.bottom {margin-bottom:0 !important;}

.left {float:left;margin:0 1em 0 0;}
.right {float:right;margin:0 0 0 1em;}

.aleft {text-align:left;}
.aright {text-align:right;}
.acenter {text-align:center;}

div.row {display:flex;}
div.row > * {margin:0 1%;flex:100%;}
div.row > *:first-child {margin-left:0;}
div.row > *:last-child {margin-right:0;}
div.row.compact > * {margin-left:0;margin-right:0;}
div.row.atop > *, div.row > .atop {align-self:flex-start;}
div.row.amiddle > *, div.row > .amiddle {align-self:center;}
div.row.abottom > *, div.row > .abottom {align-self:flex-end;}
div.row.fixed > *, div.row > .fixed {flex:auto 0 0;}

.summary {float:right;display:block;font-size:small;text-align:right;margin:0 0 0 2em;padding:10px;border-style:solid;border-color:#eaefb3;border-width:1px 1px 4px 6px;background-color:#ffffff;}
.summary li {list-style:none;}
.summary li a:link, .summary li a:visited {text-decoration:none;}

.vignette {float:right;margin:0 0 0.25em 1em;}
