/**
 *
 * @copyright  2010-2012 izend.org
 * @version    11
 * @link       http://www.izend.org
 */
 
/* print.css */

* {background-color:white !important;}

body {line-height:1.5;font-family:inherit;color:#000;background:none;font-size:10pt;}
hr {background:#ccc;color:#ccc;width:100%;height:2px;margin:2em 0;padding:0;border:none;}
hr.space {background:#fff;color:#fff;}
h1, h2, h3, h4, h5, h6 {font-family:inherit}
code {font:.9em "Courier New", Courier, monospace;}
a img {border:none;}
blockquote {margin:1.5em;padding:1em;font-style:italic;font-size:.9em;}
a {color:#fff;text-decoration:none;}

h1 {font-size:170%;}
h2 {font-size:160%;line-height:130%;}
h3 {font-size:140%;}
h4 {font-size:110%;}
h5 {font-size:110%;}
h6 {font-size:100%;}

h1,h2,h3,h4,h5,h6 {font-weight:bold;margin:1em 0 1em 0;}

fieldset {display:inline-block;padding:0.5em;}

img {vertical-align:middle;}

ol {list-style-type:decimal;}
ul {list-style-type:disc;}

h1, h2, h3, h4, h5, h6 {page-break-after:avoid;page-break-inside:avoid;}
blockquote, table, pre {page-break-inside:avoid;}
ul, ol, dl {page-break-before:avoid;}
img {page-break-inside:avoid;page-break-after:avoid;float:none;}

video {display:none;}

.pagebreak {page-break-before:avoid !important;}

.clear {clear:both;}

.hidden {display:none;}
.noprint {display:none;}

.top {margin-top:0 !important;}
.bottom {margin-bottom:0 !important;}

.left {float:left;margin:0 1em 0 0;}
.right {float:right;margin:0 0 0 1em;}

.aleft {text-align:left;}
.aright {text-align:right;}
.acenter {text-align:center;}

.date, .author {font-style:italic;}

div.row {width:100%;overflow:hidden;}
div.row > * {float:left;margin-left:1%;margin-right:1%;}
div.row > *:first-child {margin-left:0;}
div.row > *:last-child {margin-right:0;}

div.bytwo > * {width:48%;}
div.bythree > * {width:32%;}
div.byfour > * {width:23.5%;}

div.hbar > * {margin-left:0.5em;margin-right:0.5em;}
div.hbar > *:first-child {margin-left:0;}
div.hbar > *:last-child {margin-right:0}

div.vbar > * {margin-top:0.5em;margin-bottom:0.5em;}
div.vbar > *:first-child {margin-top:0;}
div.vbar > *:last-child {margin-bottom:0;}

.menu, .menubar, .sidebar, .cloud, .link, .readmore, .summary, .vignette, .social {display:none !important;}

.video-js {display:none;}

#banner, #sidebar {display:none;}

div.file {font-family:monospace;font-size:.9em;}
div.download, div.longtail {display:none;}
