/**
 *
 * @copyright  2010-2018 izend.org
 * @version    93
 * @link       http://www.izend.org
 */
 
/* screen.css */

*, :focus {outline:none;}
::-moz-focus-inner {border:0;}

body {font-family:Verdana, sans-serif;font-size:100%;line-height:1.4;}

h1, h2, h3, h4, h5, h6, label, caption, #rate-it legend {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}

pre {font-family:Verdana, sans-serif;}
code {font-family:"Courier New", Courier, monospace;}
pre code {font-size:10pt;white-space:pre-wrap;}

h1,h2,h3,h4,h5,h6 {font-weight:bold;margin:1em 0;}

fieldset {display:inline-block;}

label, legend {font-size:80%;vertical-align:middle;}

label span {vertical-align:baseline !important;}

table th, table td {padding:5px;margin:0;}
table td:first-child {padding-left:0;}
table td:last-child {padding-right:0;}

input, select {font-family:Verdana, sans-serif;font-size:10pt;}

input[type="text"], input[type="password"], textarea {max-width:90%;}

input[type="text"], input[type="password"], textarea, select, fieldset {border:1px solid #cccccc;outline:0 none;margin:1px 0;background:none repeat-x #ffffff;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {border-color:#aaaaaa;}

input[type="text"], input[type="password"], textarea, select, fieldset {border-radius:2px;}

input[type="text"], input[type="password"], textarea {padding:4px;}
fieldset {padding:5px 10px 8px;}
select {padding:2px;}

input[type="text"][readonly] {border-color:transparent;cursor:default;}

input[type="radio"], input[type="checkbox"] {margin:2px 3px 2px 4px;}
input[type="checkbox"]:after, input[type="radio"]:after {vertical-align:middle;}

form.compact p, div.compact p, p.compact {margin-top:0.75em;margin-bottom:0.5em;}
form div.row {margin-top:0;margin-bottom:0;}

textarea {resize:vertical;}

img {vertical-align:middle;max-width:100%;height:auto;}

ol {list-style-type:decimal;}
ul {list-style-type:disc;}

.monospace {font-family:"Courier New", Courier, monospace;font-size:9pt;}
.proportional {font-family:Verdana, sans-serif;font-size:10pt;}

.fullwidth {padding:10px 9999px 10px;margin:0 -9999px 0;}	/* html, body {overflow-x:hidden;} */

.menu {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.menu {margin:0;padding:0;}
.menu ul {margin-top:0;}
.menu li {list-style:none;}
.menu a {text-decoration:none;}
.menu a span {display:none;}

.menubar li {display:inline;}
.iconbar li {display:inline-block;}

.topbar {display:inline-block;}
.topbar > li {float:left;width:7em;padding:5px 0;overflow:hidden;}
.topbar li a, .topbar li span {display:block;padding:0.5em 1em;overflow:hidden;cursor:pointer;}
.topbar ul {position:absolute;margin:0;padding:0.5em 0;left:-9999px;z-index:1000;}
.topbar ul li a {width:7em;padding:0.5em 1em;}
.topbar li:hover ul {left:auto;}

.pagebar {display:inline-block;margin:0;padding:0.5em 0 0.5em 0;}
.pagebar li {display:inline;list-style:none;padding:0.5em;}
.pagebar li:first-child {padding-left:0 !important;}
.pagebar li:last-child {padding-right:0 !important;}

.sidebar {padding:0;margin:0;}
.sidebar li {display:block;}

.sidemenu * {border:none !important;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;}
.sidemenu .ui-widget-header {background:none;}
.sidemenu .ui-tabs .ui-tabs-nav, #sidemenu .ui-tabs .ui-tabs-panel {padding:0;}
.sidemenu .ui-accordion .ui-accordion-header , #sidemenu .ui-tabs .ui-tabs-panel {margin-top:0.1em;}
.sidemenu .ui-accordion .ui-accordion-content {padding-top:0;padding-bottom:0;}

.popup > li {float:left;width:10em;background:#ffffff;}
.popup li a {display:block;}
.popup ul {background:#ffffff;position:absolute;display:none;z-index:1000;}
.popup ul li a {width:10em;}
.popup li:hover ul {display:block;}

div.row {display:flex;display:-webkit-flex;margin:1em 0;}
div.row > * {margin-left:1%;margin-right:1%;}
div.row > *, div.row.atop > *, div.row > .atop {align-self:flex-start;-webkit-align-self:flex-start;}
div.row.amiddle > *, div.row > .amiddle {align-self:center;-webkit-align-self:center;}
div.row.abottom > *, div.row > .abottom {align-self:flex-end;-webkit-align-self:flex-end;}
div.row > *:first-child {margin-left:0;}
div.row > *:last-child {margin-right:0;}
div.row.compact > * {margin-left:0;margin-right:0;}
div.row.tight {margin:0;}
div.row.bytwo > * {width:49%;}
div.row.bythree > * {width:32%;}
div.row.byfour > * {width:23%;}
div.row.compact.bytwo > * {width:50%;}
div.row.compact.bythree > * {width:33.333333%;}
div.row.compact.byfour > * {width:25%;}

div.labeled > span {float:left;width:10em;margin-right:1em;text-align:right;}

div.gallery {overflow:auto;white-space:nowrap;}
div.gallery img {max-width:none;}
div.gallery img, div.gallery a {border-color:#ffffff;border-style:solid;border-width:0 3px;vertical-align:text-bottom;}
div.gallery img:first-child, div.gallery a:first-child {border-left-width:0 !important;}
div.gallery img:last-child, div.gallery a:last-child {border-right-width:0 !important;}
div.gallery.compact img, div.gallery.compact a {border:none;}

.round {border-radius:8px;}
.shadow {box-shadow:2px 2px 3px #999999;-webkit-box-shadow:2px 2px 3px #999999;}

div.hbar > * {margin-left:0.5em;margin-right:0.5em;}
div.hbar > *:first-child {margin-left:0;}
div.hbar > *:last-child {margin-right:0}

div.vbar > * {margin-top:0.5em;margin-bottom:0.5em;}
div.vbar > *:first-child {margin-top:0;}
div.vbar > *:last-child {margin-bottom:0;}

.clear {clear:both;}

.incolumn {overflow:hidden;}

.block {display:block !important;}
.inline {display:inline !important;}

.hidden {display:none !important;}
.invisible {visibility:hidden !important;}

.top {margin-top:0 !important;}
.bottom {margin-bottom:0 !important;}

.left {float:left;margin:0.25em 1em 0.25em 0 !important;}
.right {float:right;margin:0.25em 0 0.25em 1em !important;}

.x-large {font-size:x-large;}
.large {font-size:large;}
.medium {font-size:medium;}
.small {font-size:small;}
.x-small {font-size:x-small;}

.smaller {font-size:smaller;}
.larger {font-size:larger;}

.selected {font-weight:bold;}
.emphasis {font-style:italic;}
.superscript {vertical-align:super;} 

.aleft {text-align:left;}
.aright {text-align:right;}
.acenter {text-align:center;}

.nowrap {white-space:nowrap !important;}

.pointer {cursor:pointer;}

button, input.submit {padding:0;margin:1px 0;border:none;text-indent:-9999px;-webkit-appearance:none;cursor:pointer;}
span.icon {display:inline-block;text-indent:-9999px;vertical-align:middle;}

a.button {padding:6px 0 4px;margin:1px 0;display:inline-block;text-align:center;vertical-align:middle;cursor:pointer;}

.cloud {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.cloud {padding:0;margin:0;text-align:center;}
.cloud li {list-style:none;display:inline;}

div.download {margin:1em 0;}

div.longtail {margin:1em 0;overflow:hidden;}

div.youtube {position:relative;cursor:pointer;}
div.youtube > div {position:relative;overflow:hidden;}
div.youtube iframe {position:absolute;top:0;left:0;width:100%;height:100%;}

div.video {position:relative;}
div.video video {position:absolute;top:0;left:0;width:100%;height:100%;}

.ytplay {width:48px;height:36px;background:transparent url(../images/yt.png) no-repeat;background-position:-144px 0;position:absolute;top:45%;left:45%;cursor:pointer;}
.ytplay:hover {background-position:-144px -48px;}
@media screen and (max-width:360px) {
.ytplay {width:24px;height:24px;background-position:-264px 0;}
.ytplay:hover {background-position:-264px -24px;}
}

ol.tree, ol.tree ol {list-style-type:none;margin:0;padding:0;}
ol.tree ol {margin-left:12px;background:url(../images/vline.png) repeat-y;}
ol.tree li {margin:0;padding:0 12px;line-height:20px;background:url(../images/tline.png) no-repeat;} 
ol.tree li.lastnode {background:#ffffff url(../images/lline.png) no-repeat;} 
ol.tree li.firstnode {background:#ffffff;}
ol.tree li.dirnode {font-style:italic;} 
ol.tree li.filenode {font-style:normal;}

.meter {width:200px;font-weight:bold;font-size:small;border-radius:2px;border:1px solid #cccccc;outline:0 none;margin:1px 0;background:none repeat-x #ffffff;max-width:90%;}
.meter > span {display:block;height:100%;background-color:#cccccc;color:#ffffff;text-align:center;padding-top:4px;}
