/**
 *
 * @copyright  2010-2012 izend.org
 * @version    17
 * @link       http://www.izend.org
 */
 
/* screen.css */

body {font-family:Verdana, sans-serif;font-size:100%;line-height:1.25;}

h1, h2, h3, h4, h5, h6, label, caption, #rate-it legend {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}

code {font-family:"Courier New", Courier, monospace;}
pre code {font-size:10pt;}

h1,h2,h3,h4,h5,h6 {font-weight:bold;margin:1em 0 1em 0;}

fieldset {display:inline-block;padding:0.5em;}

label, legend {font-size:80%;}

table th, table td {padding:5px;margin:0;}

input {font-family:Verdana, sans-serif;font-size:10pt;}

img {vertical-align:middle;}

ol {list-style-type:decimal;}
ul {list-style-type:disc;}

.monospace {font-family:monospace;}
.proportional {font-family:sans-serif;}

.menu {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.menu {margin:0;padding:0;}
.menu ul {margin-top:0;}
.menu li {list-style:none;}
.menu a {text-decoration:none;}
.menu a span {display:none;}

.menubar li {display:inline;}

.pagebar {display:inline-block;margin:0;padding:0.5em 0 0.5em 0;}
.pagebar li {display:inline;list-style:none;padding:0.5em;}
.pagebar li:first-child {padding-left:0 !important;}
.pagebar li:last-child {padding-right:0 !important;}

.sidebar {padding:0;margin:0;}
.sidebar li {display:block;}

.popup > li {float:left;width:10em;background:#ffffff;}
.popup li a {display:block;}
.popup ul {background:#ffffff;position:absolute;display:none;z-index:1000;}
.popup ul li a {width:10em;}
.popup li:hover ul {display:block;}

div.row {width:100%;overflow:hidden;}
div.row > * {float:left;margin-left:1%;margin-right:1%;}
div.row > *:first-child {margin-left:0;}
div.row > *:last-child {margin-right:0;}

div.bytwo > * {width:48%;}
div.bythree > * {width:32%;}
div.byfour > * {width:23.5%;}

div.labeled > span {float:left;width:10em;margin-right:1em;text-align:right;}

div.gallery {overflow:auto;overflow-x:scroll;white-space:nowrap;}
div.gallery img {border-color:#ffffff;border-style:solid;border-width:0 3px 0 3px;}
div.gallery img:first-child {border-left-width:0 !important;}
div.gallery img:last-child {border-right-width:0 !important;}

.round {border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;}
.shadow {box-shadow:2px 2px 3px #999999;-webkit-box-shadow:2px 2px 3px #999999;-moz-box-shadow:2px 2px 3px #999999;}

div.hbar > * {margin-left:0.5em;margin-right:0.5em;}
div.hbar > *:first-child {margin-left:0;}
div.hbar > *:last-child {margin-right:0}

div.vbar > * {margin-top:0.5em;margin-bottom:0.5em;}
div.vbar > *:first-child {margin-top:0;}
div.vbar > *:last-child {margin-bottom:0;}

.clear {clear:both;}

.block {display:block !important;}
.inline {display:inline !important;}

.hidden {display:none;}
.invisible {visibility:hidden;}

.top {margin-top:0 !important;}
.bottom {margin-bottom:0 !important;}

.left {float:left;margin:0 1em 1em 0;}
.right {float:right;margin:0 0 1em 1em;}

.x-large {font-size:x-large;}
.large {font-size:large;}
.medium {font-size:medium;}
.small {font-size:small;}
.x-small {font-size:x-small;}

.smaller {font-size:smaller;}
.larger {font-size:larger;}

.selected {font-weight:bold;}
.emphasis {font-style:italic;}
.superscript {vertical-align:super;} 

.aleft {text-align:left;}
.aright {text-align:right;}
.acenter {text-align:center;}

.submit {padding:0;margin:0;border:none;vertical-align:middle;text-indent:-1000em;cursor:pointer;}

.cloud {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.cloud {padding:0;margin:0;text-align:center;}
.cloud li {list-style:none;display:inline;}

div.download {margin:1em 0 1em 0;}
div.longtail {margin:1em 0 1em 0;}

ol.tree, ol.tree ol {list-style-type:none;margin:0;padding:0;background:url(../images/vline.png) repeat-y;}
ol.tree ol {margin-left:12px;}
ol.tree li {margin:0;padding:0 12px;line-height:20px;background:url(../images/tline.png) no-repeat;} 
ol.tree li.lastnode {background:#ffffff url(../images/lline.png) no-repeat;} 
ol.tree li.firstnode {background:#ffffff;}
ol.tree li.dirnode {font-style:italic;} 
ol.tree li.filenode {font-style:normal;}

#banner {width:100%;overflow:hidden;}

#content {margin:1em 0 1em 0;}
#sidebar {margin:1em 0 1em 0;}

#footer {font-size:small;margin:2em 0 1em 0;clear:both;}
#footer p, #footer ul {margin: 0.5em 0;}
#footer p img {vertical-align:middle;}
