/**
 *
 * @copyright  2010-2012 izend.org
 * @version    25
 * @link       http://www.izend.org
 */
 
/* theme.css */

* {outline:none;}

a:link, a:visited {color:#ec902d;}
a:hover {color:#333333;text-decoration:none;}

body {color:#333333;width:960px;margin-left:150px;}

@media (max-device-width:1024px) {
body {margin:auto;}
}

h1,h2,h3 {color:#aec14e;}
h4 {color:#aec14e;}
h5 {color:#df6f6f;}
h6 {color:#666666;}

h3 {background:transparent url(../images/theme/heading.png) no-repeat;text-indent:30px;line-height:24px;margin:0 0 0.5em 0;}

label, legend {color:#666666;}

pre {background:#ffffe0;border-style:solid;border-color:#eaefb3;border-width:1px 0 4px 6px;padding:0.5em;overflow:auto;}

ol.tree li.dirnode {color:#666666;}
ol.tree li.filenode {color:#333333;}

form.compact p {margin-top:0.75em; margin-bottom:0.5em;}

textarea {resize:none;}

th {background-color:#ffffe0;font-weight:bold;}

.grippie {display:block;margin-left:5px;margin-top:2px;cursor:ns-resize;}

.vignette {float:right;margin:0 0 0 1em;}

.readmore {background:transparent url(../images/theme/icons/look.png) no-repeat;text-indent:30px;line-height:24px;}

.date {float:left;width:60px;height:60px;margin:0;padding:0;background:#ffffff url(../images/theme/calendar.jpg) no-repeat;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;margin-right:1em;position:relative;}
.date span {width:100%;text-align:center;margin:0;padding:0;position:absolute;}
.date .day {color:#333333;font-family:"Times New Roman", Times, serif;font-size:24px;font-weight:bold;top:0.8em;}
.date .month {color:#333333;font-size:8px;text-transform:uppercase;top:0.5em;}
.date .year {color:#999999;font-size:9px;top:5em;}
.date .comma {display:none;}

.cloud li a:link, .cloud li a:visited {color:#df6f6f;text-decoration:none;}
.cloud li a:hover {color:#333333;text-decoration:none;}
.cloud li .btn_index {float:left;width:24px;height:24px;background:transparent url(../images/theme/icons/tag.png) no-repeat;display:inline-block;text-indent:-1000em;vertical-align:middle;}

.tag {color:#df6f6f;font-size:large;}

.parameters dt {font-family:monospace;}

.info {color:#666666;font-size:small;font-style:normal;}
.error {color:#df6f6f;font-size:small;font-style:normal;}

.errors {color:#df6f6f;font-size:small;font-style:normal;}
.infos {font-style:normal;}

.inlabel {color:#333333;}
.inerror {color:#df6f6f;}

.noscript {display:inline;background-color:#ffffe0;color:#000000;font-size:small;font-style:normal;font-weight:bold;border:1px solid #aec14e;margin:1em 0;padding:0.5em;}

.plain {font-size:small;}

.formatted {font-size:80%;}

div.download {background:transparent url(../images/theme/icons/download.png) no-repeat;text-indent:30px;line-height:24px;}

.odd {background-color:#ffffe0;}
.even {background-color:#eaefb3;}
.ignored {background-color:#ffcccc;}

.hilite {background-color:#ffffe0;}
.faded {opacity:0.4;}

.normal {color:#333333;}
.dim {color:#666666;}

.reverse {color:#ffffff;background-color:#000000;}

div.alert {color:#333333;background-color:#ffcccc;padding:0.5em 1em 0.5em 1em;}
div.warning {color:#333333;background-color:#ffffe0;padding:0.5em 1em 0.5em 1em;}
div.alert p, div.warning p {margin-top:0.5em; margin-bottom:0.5em;}

.tagbar {margin-bottom:5px;}
.tagbar span {margin-left:50px;}

.hidy {height:16px;background:transparent url(../images/theme/icons/down.png) top right no-repeat;margin:2px 8px 5px 0;}

input#fr {width:24px;height:24px;padding:0;margin:0;border:none;background:transparent url(../images/theme/flags/fr.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
input#en {width:24px;height:24px;padding:0;margin:0;border:none;background:transparent url(../images/theme/flags/en.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}

#headline {margin:0 0 0.5em 0;text-align:right;}

#searchinput {border:2px solid #aec14e;padding:0;background-color:#ffffff;}
#searchtext {width:160px;padding:2px;margin:0;border:none;outline:none;-webkit-appearance:none;}
#search {width:24px;height:24px;padding:0;margin:0;border:none;background:transparent url(../images/theme/icons/find.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}

#footer .btn_mail {width:16px;height:16px;background:transparent url(../images/theme/icons/small/mail.png) no-repeat;display:inline-block;text-indent:-1000em;vertical-align:middle;}
#footer .btn_login {width:16px;height:16px;background:transparent url(../images/theme/icons/small/user.png) no-repeat;display:inline-block;text-indent:-1000em;vertical-align:middle;}
#footer .btn_logout {width:16px;height:16px;background:transparent url(../images/theme/icons/small/cancel.png) no-repeat;display:inline-block;text-indent:-1000em;vertical-align:middle;}
#footer .btn_admin {width:16px;height:16px;background:transparent url(../images/theme/icons/small/work.png) no-repeat;display:inline-block;text-indent:-1000em;vertical-align:middle;}

#footer #languages {float:right;}
#footer #languages a span {display:inline;}

#banner {height:45px;margin:10px 0 5px 0;clear:both;}
#bannerline {height:2px;background:transparent url(../images/theme/bannerline.png) no-repeat;padding:0;margin:0;clear:both;}

#logo {width:300px;float:left;}
#logo h1 {padding:0;margin:0;}
#logo h1 a {float:left;width:400px;height:40px;background:transparent url(../logos/sitelogo.png) no-repeat;margin-top:2px;}

#bannermenu {width:220px;float:left;margin-top:13px;margin-left:40px;position:relative;}
#bannermenu .btn_mail {width:24px;height:24px;position:absolute;left:130px;background:transparent url(../images/theme/icons/mail.png) no-repeat;}
#bannermenu .btn_login {width:24px;height:24px;position:absolute;left:100px;background:transparent url(../images/theme/icons/user.png) no-repeat;}
#bannermenu .btn_logout {width:24px;height:24px;position:absolute;left:0px;background:transparent url(../images/theme/icons/cancel.png) no-repeat;}
#bannermenu .btn_account {width:24px;height:24px;position:absolute;left:100px;background:transparent url(../images/theme/icons/user.png) no-repeat;}
#bannermenu .btn_edit {width:24px;height:24px;position:absolute;left:30px;background:transparent url(../images/theme/icons/edit.png) no-repeat;}
#bannermenu .btn_view {width:24px;height:24px;position:absolute;left:30px;background:transparent url(../images/theme/icons/web.png) no-repeat;}
#bannermenu .btn_validate {width:24px;height:24px;position:absolute;left:60px;background:transparent url(../images/theme/icons/check.png) no-repeat;}
#bannermenu .btn_admin {width:24px;height:24px;position:absolute;left:180px;background:transparent url(../images/theme/icons/work.png) no-repeat;}

#languages {width:40px;float:left;margin-top:13px;margin-left:20px;}
#languages .btn_fr {width:32px;height:24px;float:left;margin-right:2px;background:transparent url(../images/theme/flags/fr.png) no-repeat;}
#languages .btn_en {width:32px;height:24px;float:left;margin-right:2px;background:transparent url(../images/theme/flags/en.png) no-repeat;}

#donate {width:120px;float:right;margin-top:13px;}
#donate .btn_donate_fr {width:108px;height:21px;float:right;background:transparent url(../images/paypal_donate_fr.gif) no-repeat;}
#donate .btn_donate_en {width:74px;height:21px;float:right;background:transparent url(../images/paypal_donate_en.gif) no-repeat;}

#banner #headline {float:right;margin:13px 0 0 10px;}
#banner #searchinput {float:right;margin:11px 0 0 10px;}

#sidebar {float:right;width:200px;margin:0 0 1em 1em;}

#toolbar {width:24px;padding:6px;border-style:solid;border-color:#aec14e;border-width:2px;background-color:#ffffff;position:fixed;top:60px;float:left;margin-left:-70px;z-index:2000;}
#toolbar #exit {width:24px;height:24px;float:left;background:transparent url(../images/theme/icons/cancel.png) no-repeat;}
#toolbar #admin {width:24px;height:24px;float:left;background:transparent url(../images/theme/icons/work.png) no-repeat;}
#toolbar #edit {width:24px;height:24px;float:left;background:transparent url(../images/theme/icons/edit.png) no-repeat;}
#toolbar #view {width:24px;height:24px;float:left;background:transparent url(../images/theme/icons/web.png) no-repeat;}
#toolbar #validate {width:24px;height:24px;float:left;background:transparent url(../images/theme/icons/check.png) no-repeat;}

#threadlist {margin-top:1em;}

.navigation {font-size:small;margin-bottom:1em;}
.navigation .previous {width:16px;height:16px;display:inline-block;background:transparent url(../images/theme/icons/left.png) no-repeat;vertical-align:bottom;}
.navigation .next {width:16px;height:16px;display:inline-block;background:transparent url(../images/theme/icons/right.png) no-repeat;vertical-align:bottom;}

#sharebar {width:75px;border-style:solid;border-color:#eaefb3;border-width:2px;background-color:#ffffff;position:fixed;top:200px;float:left;margin-left:-120px;padding:5px;z-index:2000;}
#sharebar > li {padding:5px;}

.besocial {width:100%;height:35px;padding:0;margin:1em 0;}
.besocial li {display:inline-block;vertical-align:top;}

#socialbar a {width:24px;height:24px;display:inline-block;}
#socialbar a.facebook {background:transparent url(../images/theme/social/facebook.png) no-repeat;}
#socialbar a.twitter {background:transparent url(../images/theme/social/twitter.png) no-repeat;}
#socialbar a.linkedin {background:transparent url(../images/theme/social/linkedin.png) no-repeat;}
#socialbar a.rss {background:transparent url(../images/theme/social/rss.png) no-repeat;}

#comments {margin-top:1em;}
#comments > h4 {color:#666666;background:transparent url(../images/theme/icons/user.png) no-repeat;text-indent:30px;line-height:24px;}
#comments .signature {float:right;margin-top:-4px;}
#comments .longdate {color:#666666;font-size:small;}
#comments .author {color:#666666;font-size:small;font-style:italic;}
#comments .moderate {width:24px;height:16px;padding:0;margin:0;border:none;background:transparent url(../images/theme/icons/moderate.png) no-repeat;vertical-align:bottom;text-indent:-1000em;cursor:pointer;}
#comments pre {font-family:monospace;font-size:10pt;}
#comments blockquote {font-size:small;margin-right:0;}

#newcomment > h6 {color:#666666;background:transparent url(../images/theme/icons/edit.png) no-repeat;text-indent:30px;line-height:24px;}

.bbcodebar {margin-bottom:5px;}
.bbcodebar span {font-size:x-small;margin-left:10px;}
.bbcodebar .alert {color:#df6f6f;font-style:italic;}
.bbcodehelp {color:#666666;font-size:x-small;font-style:normal;margin-top:0.5em;}

#searchlinks h3 a:link {color:#aec14e;}
#searchlinks h3 a:hover {color:#ec902d;}
#searchlinks ol {margin-left:0;padding:0;}
#searchlinks li {list-style:none;margin-bottom:1em;}
#searchlinks a {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
#searchlinks li p {margin:0.5em 0 0.5em 0;font-size:small;font-style:italic;}
#searchlinks li p+p {color:#666666;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-style:normal;}

#summary {font-size:small;text-align:right;margin:1em 0 0.5em 0;padding:10px;border-style:solid;border-color:#eaefb3;border-width:1px 1px 4px 6px;background-color:#ffffff;}

#mailme_message {font-family:Verdana, sans-serif;font-size:10pt;}

.userresult {color:#aec14e;font-weight:bold;}
.userpagenumber {font-size:large;}
.username {font-weight:bold;}
.usermail {font-style:italic;}

#useredit_status {background-color:#ffffe0;}
#useredit_accessed {font-size:small;}

#userbalance {float:right;}

.balance {text-align:right;}
.balance span {font-size:larger;display:block;}

.summary {float:right;display:block;font-size:small;text-align:right;margin:0 0 0 2em;padding:10px;border-style:solid;border-color:#eaefb3;border-width:1px 1px 4px 6px;background-color:#ffffff;}
.summary li {list-style:none;}
.summary li a:link, .summary li a:visited {text-decoration:none;}
