/**
 *
 * @copyright  2010-2011 izend.org
 * @version    9
 * @link       http://www.izend.org
 */
 
/* theme.css */

a:link, a:visited {color:#ec902d;}
a:hover {color:#333333;text-decoration:none;}

body {color:#333333;font-family:Verdana, sans-serif;font-size:100%;width:960px;margin:5px 0 0 50px;}
input {font-family:Verdana, sans-serif;font-size:10pt;}

h1,h2,h3 {color:#aec14e;}
h4 {color:#aec14e;}
h5 {color:#df6f6f;}
h6 {color:#666666;}

h3 {line-height:24px;background:transparent url(../images/theme/heading.png) no-repeat;text-indent:30px;margin:0 0 0.5em 0;}

label, legend {color:#666666;}

pre {background:#ffffe0;border-style:solid;border-color:#eaefb3;border-width:1px 0 4px 6px;padding:0.5em;overflow:auto;}

ol.tree li.dirnode {color:#666666;}
ol.tree li.filenode {color:#333333;}

form.compact p {margin-top:0.75em; margin-bottom:0.5em;}

textarea {resize:none;}

.grippie {display:block;margin-left:5px;margin-top:2px;cursor:ns-resize;}

.vignette {float:right;margin:0 0 0 1em;}

.readmore {line-height:24px;background:transparent url(../images/theme/icons/look.png) no-repeat;text-indent:30px;}

.date {float:left;width:60px;height:60px;margin:0;padding:0;background:#ffffff url(../images/theme/calendar.jpg) no-repeat;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;margin-right:1em;position:relative;}
.date span {width:100%;text-align:center;margin:0;padding:0;position:absolute;}
.date .day {color:#333333;font-family:"Times New Roman", Times, serif;font-size:24px;font-weight:bold;top:0.8em;}
.date .month {color:#333333;font-size:8px;text-transform:uppercase;top:0.5em;}
.date .year {color:#999999;font-size:9px;top:5em;}
.date .comma {display:none;}

.cloud {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.cloud li a:link, .cloud li a:visited {color:#df6f6f;text-decoration:none;}
.cloud li a:hover {color:#333333;text-decoration:none;}
.cloud li #index {float:left;display:inline;width:24px;height:24px;background:transparent url(../images/theme/icons/tag.png) no-repeat;}
.cloud li #index span {display:none;}

.tag {color:#df6f6f;font-size:larger;}

.menu, .menubar, .sidebar {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}

.parameters dt {font-family:monospace;}

.info {color:#666666;font-size:smaller;font-style:normal;}
.error {color:#df6f6f;font-size:smaller;font-style:normal;}

.errors {color:#df6f6f;font-size:small;font-style:normal;}
.infos {font-style:normal;}

.noscript {display:inline;background-color:#ffffe0;color:#000000;font-size:smaller;font-style:normal;font-weight:bold;border:1px solid #aec14e;margin:1em 0;padding:0.5em;}

.plain {font-size:small;}

.formatted {font-size:80%;}

.download p {line-height:24px;background:transparent url(../images/theme/icons/download.png) no-repeat;text-indent:30px;}

.odd {background-color:#ffffe0;}
.even {background-color:#eaefb3;}
.ignored {background-color:#ffcccc;}

.hilite {background-color:#ffffe0;}
.faded {opacity:0.4;}

.normal {color:#333333;}
.dim {color:#666666;}

div.alert {color:#333333;background-color:#ffcccc;padding:0.5em 1em 0.5em 1em;}
div.warning {color:#333333;background-color:#ffffe0;padding:0.5em 1em 0.5em 1em;}
div.alert p, div.warning p {margin-top:0.5em; margin-bottom:0.5em;}

.tagbar {margin-bottom:5px;}
.tagbar span {margin-left:50px;}

.hidy {height:16px;margin:2px 8px 5px 0;background:transparent url(../images/theme/icons/down.png) top right no-repeat;}

input#fr {width:24px;height:24px;padding:0;margin:0;border:none;background:transparent url(../images/theme/flags/fr.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
input#en {width:24px;height:24px;padding:0;margin:0;border:none;background:transparent url(../images/theme/flags/en.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}

#headline {margin:0 0 0.5em 0;text-align:right;}

#search {width:24px;height:24px;padding:0;margin:0;border:none;background:transparent url(../images/theme/icons/find.png) no-repeat;vertical-align:middle;text-indent:-1000em;cursor:pointer;}
#searchtext {width:160px;padding:2px;margin:0;border:none;}
#searchinput {border:2px solid #aec14e;padding:0;background-color:#ffffff;}

#banner {height:45px;margin:10px 0 5px 0;clear:both;}
#bannerline {height:2px;background:transparent url(../images/theme/bannerline.png) no-repeat;padding:0;margin:0;clear:both;}

#logo {width:300px;float:left;}
#logo h1 {padding:0;margin:0;}
#logo h1 a {float:left;width:226px;height:40px;background:transparent url(../logos/sitelogo.png) no-repeat;margin-top:2px;}

#bannermenu {width:220px;float:left;margin-top:13px;margin-left:40px;position:relative;}
#bannermenu #mail {width:24px;height:24px;position:absolute;left:130px;background:transparent url(../images/theme/icons/mail.png) no-repeat center center;}
#bannermenu #exit {width:24px;height:24px;position:absolute;left:0px;background:transparent url(../images/theme/icons/cancel.png) no-repeat center center;}
#bannermenu #enter {width:24px;height:24px;position:absolute;left:100px;background:transparent url(../images/theme/icons/user.png) no-repeat center center;}
#bannermenu #account {width:24px;height:24px;position:absolute;left:100px;background:transparent url(../images/theme/icons/user.png) no-repeat center center;}
#bannermenu #edit {width:24px;height:24px;position:absolute;left:30px;background:transparent url(../images/theme/icons/edit.png) no-repeat center center;}
#bannermenu #view {width:24px;height:24px;position:absolute;left:30px;background:transparent url(../images/theme/icons/web.png) no-repeat center center;}
#bannermenu #validate {width:24px;height:24px;position:absolute;left:60px;background:transparent url(../images/theme/icons/check.png) no-repeat center center;}
#bannermenu #admin {width:24px;height:24px;position:absolute;left:180px;background:transparent url(../images/theme/icons/work.png) no-repeat center center;}

#languages {width:40px;float:left;margin-top:13px;margin-left:20px;}
#languages #fr {width:32px;height:24px;float:left;margin-right:2px;background:transparent url(../images/theme/flags/fr.png) no-repeat center center;}
#languages #en {width:32px;height:24px;float:left;margin-right:2px;background:transparent url(../images/theme/flags/en.png) no-repeat center center;}

#banner #headline {float:right;margin-top:13px;margin-bottom:0;}
#banner #searchinput {float:right;margin-top:11px;margin-bottom:0;}

#sidebar {float:right;width:200px;margin-left:1em;}

#threadlist {margin-top:1em;}

#threadnodenav, #bookpagenav {font-size:small;margin-bottom:1em;}
#threadnodenav img, #bookpagenav img {vertical-align:text-bottom;}

#comments {margin-top:2em;clear:left;}
#comments h4 {color:#666666;background:transparent url(../images/theme/icons/user.png) no-repeat top left;text-indent:30px;line-height:24px;}
#comments .longdate {color:#666666;font-size:smaller;}
#comments .author {color:#666666;font-size:smaller;font-style:italic;}
#comment pre {font-family:monospace;font-size:10pt;}
#comment blockquote {font-size:smaller;margin-right:0;}

#newcomment {margin-top:1em;clear:left;}
#newcomment h6 {background:transparent url(../images/theme/icons/edit.png) no-repeat;text-indent:30px;line-height:24px;}
#newcomment_help {color:#666666;font-size:x-small;font-style:normal;margin-top:0.5em;}

.bbcodebar {margin-bottom:5px;}
.bbcodebar span {font-size:x-small;margin-left:10px;}
.bbcodebar .alert {color:#df6f6f;font-style:italic;}

#searchlinks h3 a:link {color:#aec14e;}
#searchlinks h3 a:hover {color:#ec902d;}
#searchlinks ol {margin-left:0;padding:0;}
#searchlinks li {list-style:none;margin-bottom:1em;}
#searchlinks a {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
#searchlinks li p {margin:0.5em 0 0.5em 0;font-size:smaller;font-style:italic;}
#searchlinks li p+p {color:#666666;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-style:normal;}

#summary {font-size:smaller;text-align:right;margin:1em 0 0.5em 0;}

#mailme_message {font-family:Verdana, sans-serif;font-size:10pt;}

.userresult {color:#aec14e;font-weight:bold;}
.userpagenumber {font-size:larger;}
.username {font-weight:bold;}
.usermail {font-style:italic;}

#useredit_status {display:inline-block;background-color:#ffffe0;}
#useredit_accessed {font-size:small;}

.summary {float:right;display:block;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:smaller;text-align:right;margin:0 0 0 2em;padding:10px;border-style:solid;border-color:#eaefb3;border-width:1px 1px 4px 6px;background-color:#ffffff;}
.summary li {list-style:none;}
.summary li a:link, .summary li a:visited {text-decoration:none;}

#homemenu {font-size:100%;}
#homemenu > div {width:30%;margin:2em 0 1em 0;float:left;}
#homemenu .cl {margin-right:2.5%;}
#homemenu .cr {margin-left:2.5%;}
#homemenu .cm {margin-left:2.5%;margin-right:2.5%;}
#homemenu h3 {background:none;border-bottom:3px solid #c4da6b;margin:1.0em 0 0 0;padding-bottom:0.25em;text-align:right;}
#homemenu ul {padding-top:1em;}
#homemenu img {vertical-align:baseline;}

#homeblog h4 a:link, #homeblog h4 a:visited {color:#aec14e;}
#homeblog h4 a:hover {color:#ec902d;}
#homeblog p {margin-top:0.5em;margin-bottom:0.5em;}
#homeblog .author {color:#999999;font-size:smaller;font-style:italic;}
#homeblog .vignette {margin-top:-1em;}

.billboard {background-color:#ffffe0;padding:0.5em 1em 0.5em 1em;border-style:solid;border-color:#eaefb3;border-width:1px 1px 4px 6px;}
