/**
 *
 * @copyright  2010-2018 izend.org
 * @version    135
 * @link       http://www.izend.org
 */

/* theme.css */

a:link, a:visited {color:#ec902d;text-decoration:none;}
a:hover {color:#333333;text-decoration:none;}

a:link.mono, a:visited.mono {color:#333333;}
a:link.alt, a:visited.alt {color:#333333;}
a:hover.alt {color:#ec902d;}

body {color:#333333;margin-left:140px;margin-bottom:20px;max-width:960px;}

h1,h2,h3 {color:#aec14e;}
h4 {color:#aec14e;}
h5 {color:#df6f6f;}
h6 {color:#666666;}

h3 {background:transparent url(../images/theme/heading.png) no-repeat;text-indent:30px;line-height:24px;margin:0 0 0.5em;}

hr {background:#ffffff;color:#aec14e;width:100%;height:0;padding:0;margin:1em 0;border:1px solid;}

label, legend {color:#666666;}

pre {background:#ffffe0;border-style:solid;border-color:#eaefb3;border-width:1px 0 4px 6px;padding:0.5em;overflow:auto;}

ol.tree li.dirnode {color:#666666;}
ol.tree li.filenode {color:#333333;}

th {background-color:#ffffe0;font-weight:bold;}

.vignette {float:right;margin:0.25em 0 0.5em 1em;}

.readmore {background:transparent url(../images/theme/icons/look.png) no-repeat;text-indent:30px;line-height:24px;}

.clickit {display:inline-block;color:#333333;background-color:#ffffe0;padding:10px;border-radius:2px;font-weight:bold;cursor:pointer;}

.topbar li {color:#ffffff;}
.topbar a:link, .topbar a:visited {color:#ffffff;}
.topbar a:hover {color:#ffffff;}
.topbar, .topbar ul li a {background-color:#aec14e;}

.date {width:60px;height:60px;margin:0;padding:0;background:#ffffff url(../images/theme/calendar.jpg) no-repeat;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;position:relative;}
.date span {width:100%;text-align:center;margin:0;padding:0;position:absolute;}
.date .day {color:#333333;font-family:"Times New Roman", Times, serif;font-size:24px;font-weight:bold;top:0.8em;}
.date .month {color:#333333;font-size:8px;text-transform:uppercase;top:0.5em;}
.date .year {color:#999999;font-size:9px;top:5em;}
.date .comma {display:none;}

.cloud li a:link, .cloud li a:visited {color:#df6f6f;}
.cloud li a:hover {color:#333333;}
.cloud li .btn_index {width:24px;height:24px;float:left;margin-left:0;margin-right:6px;background:transparent url(../images/theme/icons.png) no-repeat;background-position:-120px -24px;text-indent:-9999px;cursor:pointer;}

.hidy {display:inline-block;float:right;width:16px;height:16px;background:transparent url(../images/theme/icons/down.png) no-repeat;text-indent:-9999px;cursor:pointer;}

.tag {color:#df6f6f;font-size:large;}

.parameters dt {font-family:monospace;}

.info {color:#666666;font-size:small;font-style:normal;}
.error {color:#df6f6f;font-size:small;font-style:normal;}

.errors {color:#df6f6f;font-size:small;font-style:normal;}
.infos {font-style:normal;}

.inlabel {color:#333333;}
.inerror {color:#df6f6f;}

.noscript {display:inline;background-color:#ffffe0;color:#000000;font-size:small;font-style:normal;font-weight:bold;border:1px solid #aec14e;margin:1em 0;padding:0.5em;}

.plain {font-size:small;}

.formatted {font-size:80%;}

div.download {background:transparent url(../images/theme/icons/download.png) no-repeat;text-indent:30px;line-height:24px;}

.loading {width:30px;height:30px;background:transparent url(../images/theme/loading.gif) no-repeat 50% 50%;}

.odd {background-color:#ffffe0;}
.even {background-color:#eaefb3;}
.ignored {background-color:#ffcccc;}

.hilite {background-color:#ffffe0;}
.faded {opacity:0.4;}

.normal {color:#333333;}
.dim {color:#666666;}

.reverse {color:#ffffff;background-color:#000000;}

div.alert {color:#333333;background-color:#ffcccc;padding:0.5em 1em 0.5em 1em;}
div.warning {color:#333333;background-color:#ffffe0;padding:0.5em 1em 0.5em 1em;}
div.alert p, div.warning p {margin-top:0.5em; margin-bottom:0.5em;}

.tagbar {margin-bottom:2px;}
.tagbar .tagmore {margin-left:50px;white-space:nowrap;}

.lang {width:24px;height:24px;display:inline-block;background:transparent url(../images/theme/flags.png) no-repeat;vertical-align:middle;text-indent:-9999px;}
.lang.fr {background-position:0 0;}
.lang.en {background-position:-24px 0;}
.lang.de {background-position:-48px 0;}
.lang.it {background-position:-72px 0;}
.lang.es {background-position:-96px 0;}
.lang.ru {background-position:-120px 0;}

span.icon {width:24px;height:24px;background:transparent url(../images/theme/icons.png) no-repeat;text-indent:-9999px;}
span.icon_ok {background-position:0 -48px;}
span.icon_ko {background-position:-24px -48px;}
span.icon_user {background-position:0 0;}
span.icon_mail {background-position:-24px 0;}
span.icon_work {background-position:-48px 0;}
span.icon_cancel {background-position:-72px 0;}
span.icon_check {background-position:-96px 0;}
span.icon_edit {background-position:-120px 0;}
span.icon_web {background-position:-144px 0;}
span.icon_lock {background-position:-120px -48px;}
span.icon_download {background-position:-24px -24px;}
span.icon_attachment {background-position:-96px -48px;}

span.btn_edit {width:16px;height:16px;display:inline-block;background:transparent url(../images/theme/editing.png) no-repeat;vertical-align:middle;text-indent:-9999px;}
span.btn_mouse {background-position:-208px -48px;}
span.btn_bullet_star {background-position:-176px -32px;}
span.btn_accept {background-position:-192px -32px;}
span.btn_cancel {background-position:-208px -32px;}
span.btn_ignored {background-position:-224px -32px;}
span.btn_help {background-position:-240px -32px;}
span.btn_a {background-position:-240px -16px;}
span.btn_b {background-position:-16px 0;}
span.btn_blockquote {background-position:-144px -16px;}
span.btn_br {background-position:-176px 0;}
span.btn_code {background-position:-112px -16px;}
span.btn_h1 {background-position:-80px 0;}
span.btn_h2 {background-position:-96px 0;}
span.btn_h3 {background-position:-112px 0;}
span.btn_h4 {background-position:-128px 0;}
span.btn_h5 {background-position:-144px 0;}
span.btn_h6 {background-position:-160px 0;}
span.btn_i {background-position:-32px 0;}
span.btn_img {background-position:-208px -16px;}
span.btn_ol {background-position:-192px 0;}
span.btn_p {background-position:0 0;}
span.btn_pre {background-position:-160px -16px;}
span.btn_precode {background-position:-128px -16px;}
span.btn_quote {background-position:-144px -16px;}
span.btn_s {background-position:-64px 0;}
span.btn_table {background-position:-224px 0;}
span.btn_u {background-position:-48px 0;}
span.btn_ul {background-position:-208px 0;}
span.btn_email {background-position:-224px -16px;}
span.btn_url {background-position:-240px -16px;}
span.btn_php {background-position:-240px 0;}
span.btn_entquote {background-position:-176px -16px;}
span.btn_number {background-position:-192px 0;}
span.btn_seval{background-position:-240px 0;}
span.btn_striptags {background-position:-192px -16px;}
span.btn_stripbbcodes {background-position:-192px -16px;}
span.btn_calendar {background-position:-80px -16px;}
span.btn_autostart {background-position:-16px -16px;}
span.btn_playicon {background-position:-32px -16px;}
span.btn_repeat {background-position:-48px -16px;}
span.btn_time {background-position:-0 -16px;}
span.btn_autoplay {background-position:-16px -16px;}
span.btn_controls {background-position:-128px -32px;}
span.btn_fs {background-position:-208px -16px;}
span.btn_rel {background-position:-112px -32px;}
span.btn_comment {background-position:0 -32px;}
span.btn_morecomment {background-position:-16px -32px;}
span.btn_visits {background-position:-64px -16px;}
span.btn_vote {background-position:-32px -32px;}
span.btn_morevote {background-position:-48px -32px;}
span.btn_search {background-position:-64px -32px;}
span.btn_tag {background-position:-80px -32px;}
span.btn_ilike {background-position:0 -48px;}
span.btn_tweet {background-position:-16px -48px;}
span.btn_plusone {background-position:-32px -48px;}
span.btn_linkedin {background-position:-48px -48px;}
span.btn_pinit {background-position:-64px -48px;}
span.btn_world {background-position:-240px -16px;}
span.btn_map {background-position:-144px -32px;}
span.btn_marker {background-position:-160px -32px;}
span.btn_film {background-position:-144px -48px;}
span.btn_camera {background-position:-160px -48px;}
span.btn_sound {background-position:-176px -48px;}
span.btn_loop {background-position:-192px -48px;}
span.btn_cut {background-position:-112px -48px;}
span.btn_chart {background-position:-128px -48px;}

span.btn_control {width:16px;height:16px;display:inline-block;background:transparent url(../images/theme/controls.png) no-repeat;vertical-align:middle;text-indent:-9999px;}
span.btn_eject {background-position:0 0;}
span.btn_eject_alt {background-position:0 -16px;}
span.btn_end {background-position:-16px 0;}
span.btn_end_alt {background-position:-16px -16px;}
span.btn_equalizer {background-position:-32px 0;}
span.btn_equalizer_alt {background-position:-32px -16px;}
span.btn_fastforward {background-position:-48px 0;}
span.btn_fastforward_alt {background-position:-48px -16px;}
span.btn_pause {background-position:-64px 0;}
span.btn_pause_alt {background-position:-64px -16px;}
span.btn_play {background-position:-80px 0;}
span.btn_play_alt {background-position:-80px -16px;}
span.btn_replay {background-position:-96px 0;}
span.btn_replay_alt {background-position:-96px -16px;}
span.btn_rewind {background-position:-112px 0;}
span.btn_rewind_alt {background-position:-112px -16px;}
span.btn_start {background-position:-128px 0;}
span.btn_start_alt {background-position:-128px -16px;}
span.btn_stop {background-position:-144px 0;}
span.btn_stop_alt {background-position:-144px -16px;}

#content {margin:1em 0;clear:both;}

#bannerline {height:2px;background:transparent url(../images/theme/bannerline.png) no-repeat;background-size:100% 2px;padding:0;margin:0;clear:both;}

#banner {margin:10px 0 5px;}
#bannercontrols {width:230px;float:left;}
#bannertools {width:auto;float:right;}

#logo {width:40%;height:40px;float:left;margin-bottom:10px;}
#logo h1 {padding:0;margin:0;}
#logo h1 a {display:inline-block;width:300px;height:40px;background:transparent url(../logos/sitelogo.png) no-repeat;margin-top:2px;}
#logo h1 a span {display:none;}

#bannermenu {width:180px;height:24px;float:left;margin:13px 10px;position:relative;}
#bannermenu a {width:24px;height:24px;background:transparent url(../images/theme/icons.png) no-repeat;position:absolute;}
#bannermenu .btn_mail {left:30px;background-position:-24px 0;}
#bannermenu .btn_login {left:0px;background-position:0 0;}
#bannermenu .btn_logout {left:0px;background-position:-72px 0;}
#bannermenu .btn_account {left:60px;background-position:0 0;}
#bannermenu .btn_edit {left:120px;background-position:-120px 0;}
#bannermenu .btn_view {left:120px;background-position:-144px 0;}
#bannermenu .btn_validate {left:150px;background-position:-96px 0;}
#bannermenu .btn_admin {left:90px;background-position:-48px 0;}

#banner .languages {width:24px;height:24px;float:left;margin:13px 0;}
#banner .languages a {width:24px;height:24px;display:inline-block;background:transparent url(../images/theme/flags.png) no-repeat;text-indent:-9999px;}
#banner .languages .btn_fr {background-position:0 0;}
#banner .languages .btn_en {background-position:-24px 0;}
#banner .languages .btn_de {background-position:-48px 0;}
#banner .languages .btn_it {background-position:-72px 0;}
#banner .languages .btn_es {background-position:-96px 0;}
#banner .languages .btn_ru {background-position:-120px 0;}

#donate {height:21px;}
#donate .btn_donate_fr {width:108px;height:21px;display:inline-block;background:transparent url(../images/paypal_donate_fr.gif) no-repeat;}
#donate .btn_donate_en {width:74px;height:21px;display:inline-block;background:transparent url(../images/paypal_donate_en.gif) no-repeat;}
#donate .btn_donate_de {width:86px;height:21px;display:inline-block;background:transparent url(../images/paypal_donate_de.gif) no-repeat;}
#donate .btn_donate_it {width:96px;height:21px;display:inline-block;background:transparent url(../images/paypal_donate_it.gif) no-repeat;}
#donate .btn_donate_es {width:74px;height:21px;display:inline-block;background:transparent url(../images/paypal_donate_es.gif) no-repeat;}
#donate .btn_donate_ru {width:156px;height:21px;display:inline-block;background:transparent url(../images/paypal_donate_ru.gif) no-repeat;}

#searchinput {width:196px;border:2px solid #aec14e;padding:0;background-color:#ffffff;}
#searchtext {width:160px;padding-left:4px;padding-right:0;margin:0;border:none;outline:none;-webkit-appearance:none;}
#search {width:24px;height:24px;padding:0;margin:0;border:none;background:transparent url(../images/theme/icons.png) no-repeat;background-position:-144px -24px;vertical-align:middle;text-indent:-9999px;cursor:pointer;}

#banner #headline {float:right;margin:14px 0 11px 10px;text-align:right;}
#banner #headline a:hover {color:#aec14e;}
#banner #searchinput {float:right;margin:10px 0 11px 10px;}
#banner #donate {float:right;margin:14px 0 15px 10px}

#sidebar {float:right;width:200px;margin-left:1em;}

#sidebar #headline {margin-top:0.1em;margin-bottom:0.5em;text-align:right;}
#sidebar #searchinput {margin-bottom:0.5em;}
#sidebar #donate {float:right;margin:1em 0;}
#sidebar .cloud {margin-bottom:1em;overflow-x:hidden;}
#sidebar .hidy {float:none;margin-left:176px;}

#sidemenu {width:240px;font-size:90%;}
#sidemenu .qtip {font-size:90%;line-height:1.3;max-width:90%;background-color:#ffffff;border-radius:2px;box-shadow:2px 2px 3px #cccccc;-webkit-box-shadow:2px 2px 3px #cccccc;}

#footer {font-size:small;margin:2em 0 1em 0;clear:both;}
#footer p img {vertical-align:middle;}

#footer .btn {width:16px;height:16px;display:inline-block;background:transparent url(../images/theme/icons.png) no-repeat;text-indent:-9999px;vertical-align:middle;}
#footer .btn_mail {width:16px;height:16px;background-position:-120px -88px;}
#footer .btn_login {width:16px;height:16px;background-position:-104px -88px;}
#footer .btn_logout {width:16px;height:16px;background-position:-152px -88px;}
#footer .btn_account {width:16px;height:16px;background-position:-104px -88px;}
#footer .btn_admin {width:16px;height:16px;background-position:-136px -88px;}

#footer .languages {float:right;margin-left:2em;font-family:Verdana, sans-serif;}
#footer .languages a span {display:inline;}

#footer .controls {display:inline-block;}

#toolbar {width:24px;padding:5px;border-style:solid;border-color:#eaefb3;border-width:2px;background-color:#ffffe0;position:fixed;margin-left:-65px;}
#toolbar a {width:24px;height:24px;float:left;background:transparent url(../images/theme/icons.png) no-repeat;}
#toolbar #exit {background-position:-72px 0;}
#toolbar #admin {background-position:-48px 0;}
#toolbar #edit {background-position:-120px 0;}
#toolbar #view {background-position:-144px 0;}
#toolbar #validate {background-position:-96px 0;}
#toolbar #scrolltop {height:12px;background-position:-24px -72px;}
#toolbar #scrollbottom {height:12px;background-position:-48px -72px;}

#threadlist, #nodelist {border-spacing:0;}

.navigation {font-size:small;margin-bottom:1em;}
.navigation .previous {width:16px;height:16px;display:inline-block;background:transparent url(../images/theme/icons.png) no-repeat;background-position:-32px -88px;vertical-align:text-bottom;}
.navigation .next {width:16px;height:16px;display:inline-block;background:transparent url(../images/theme/icons.png) no-repeat;background-position:-48px -88px;vertical-align:text-bottom;}

#thread_image, #node_image {max-width:240px;height:auto;}

#sharebar, #shareline {display:none;}

#sharebar {border:solid 2px #eaefb3;background-color:#ffffff;position:fixed;margin-top:80px;padding:4px 6px;z-index:9999;}
#sharebar.standard > li {padding:3px 0;}
#sharebar.standard > li:last-child {padding-bottom:0;}
#sharebar.standard li.linkedin span {vertical-align:baseline !important;}
#sharebar.standard button, .besocial.standard button {text-indent:0;}

.besocial {width:100%;padding:0;margin:1em 0;}
.besocial li {display:inline-block;padding:0;margin:0;}
.besocial.standard li {height:30px;vertical-align:top;}
.besocial.standard li.pinterest span {vertical-align:top !important;}
.besocial.awesome li {margin:0.25em 0;}

#sharebar.lite {margin-left:-65px;padding:5px;}
#sharebar.lite a span, .besocial.lite a span {display:none;}
#sharebar.lite li a, .besocial.lite li a {width:24px;height:24px;display:inline-block;background:transparent url(../images/theme/social.png) no-repeat;cursor:pointer;}
#sharebar.lite li.facebook a, .besocial.lite li.facebook a {background-position:0 0;}
#sharebar.lite li.twitter a, .besocial.lite li.twitter a  {background-position:-24px 0;}
#sharebar.lite li.gplus a, .besocial.lite li.gplus a {background-position:-48px 0;}
#sharebar.lite li.linkedin a, .besocial.lite li.linkedin a {background-position:-72px 0;}
#sharebar.lite li.pinterest a, .besocial.lite li.pinterest a {background-position:-168px 0;}

#sharebar.awesome {margin-left:-86px;padding:5px;}
#sharebar.awesome a, .besocial.awesome a {color:#ffffff;font-size:24px;line-height:24px;width:44px;display:list-item;list-style:none;text-align:center;padding:8px 0;}
#sharebar.awesome .facebook, .besocial.awesome .facebook {background-color:#3b5998;}
#sharebar.awesome .twitter, .besocial.awesome .twitter {background-color:#4ad2ff;}
#sharebar.awesome .gplus, .besocial.awesome .gplus {background-color:#a7291c;}
#sharebar.awesome .linkedin, .besocial.awesome .linkedin {background-color:#0183b3;}
#sharebar.awesome .pinterest, .besocial.awesome .pinterest {background-color:#cb2027;}

#socialbar a {width:24px;height:24px;display:inline-block;background:transparent url(../images/theme/social.png) no-repeat;}
#socialbar a.facebook {background-position:0 0;}
#socialbar a.twitter {background-position:-24px 0;}
#socialbar a.gplus {background-position:-48px 0;}
#socialbar a.linkedin {background-position:-72px 0;}
#socialbar a.rss {background-position:-96px 0;}
#socialbar a.newsletter {background-position:-120px 0;}
#socialbar a.flickr {background-position:-144px 0;}
#socialbar a.pinterest {background-position:-168px 0;}
#socialbar a.google {background-position:-192px 0;}
#socialbar a.tweet {background-position:-216px 0;}
#socialbar a.yahoo {background-position:-240px 0;}
#socialbar a.youtube {background-position:-264px 0;}

a .icon_facebook {width:111px;height:30px;display:inline-block;background:transparent url(../images/link.png) no-repeat;text-indent:-9999px;cursor:pointer;}
a:link .icon_facebook, a:visited .icon_facebook {background-position:0 -30px;}
a:hover .icon_facebook {background-position:0 0;}
a .icon_twitter {width:114px;height:30px;display:inline-block;background:transparent url(../images/link.png) no-repeat;text-indent:-9999px;cursor:pointer;}
a:link .icon_twitter, a:visited .icon_twitter {background-position:-111px -30px;}
a:hover .icon_twitter {background-position:-111px 0;}
a .icon_rss {width:51px;height:30px;display:inline-block;background:transparent url(../images/link.png) no-repeat;text-indent:-9999px;cursor:pointer;}
a:link .icon_rss, a:visited .icon_rss {background-position:-225px -30px;}
a:hover .icon_rss {background-position:-225px 0;}
a .icon_newsletter {width:192px;height:30px;display:inline-block;background:transparent url(../images/link.png) no-repeat;text-indent:-9999px;cursor:pointer;}
a:link .icon_newsletter, a:visited .icon_newsletter {background-position:-276px -30px;}
a:hover .icon_newsletter {background-position:-276px 0;}
a .icon_buzzmii {width:90px;height:30px;display:inline-block;background:transparent url(../images/link.png) no-repeat;text-indent:-9999px;cursor:pointer;}
a:link .icon_buzzmii, a:visited .icon_buzzmii {background-position:-468px -30px;}
a:hover .icon_buzzmii {background-position:-468px 0;}
a .icon_youtube {width:77px;height:30px;display:inline-block;background:transparent url(../images/link.png) no-repeat;text-indent:-9999px;cursor:pointer;}
a:link .icon_youtube, a:visited .icon_youtube {background-position:-558px -30px;}
a:hover .icon_youtube {background-position:-558px 0;}
a .icon_pinterest {width:118px;height:30px;display:inline-block;background:transparent url(../images/link.png) no-repeat;text-indent:-9999px;cursor:pointer;}
a:link .icon_pinterest, a:visited .icon_pinterest {background-position:-635px -30px;}
a:hover .icon_pinterest {background-position:-635px 0;}
a .icon_instagram {width:106px;height:30px;display:inline-block;background:transparent url(../images/link.png) no-repeat;text-indent:-9999px;cursor:pointer;}
a:link .icon_instagram, a:visited .icon_instagram {background-position:-753px -30px;}
a:hover .icon_instagram {background-position:-753px 0;}

#linkbar {margin:1em 0;}
#linkbar > a {margin-right:20px;}
#linkbar > a:last-child {margin-right:0;}
#linkbar a span {vertical-align:text-bottom;margin-top:0.5em;}

#connectbar a {width:24px;height:24px;display:inline-block;background:transparent url(../images/theme/social.png) no-repeat;vertical-align:top;}
#connectbar a.facebook {background-position:0 0;}

.comments {margin-top:2em;}
.comments > h4 {color:#666666;background:transparent url(../images/theme/icons/user.png) no-repeat;text-indent:30px;line-height:24px;}
.comments .headline {color:#666666;font-size:small;line-height:24px;}
.comments .signature {float:right;}
.comments .author {font-style:italic;}
.comments .author a:link, .comments .author a:visited {color:#666666;}
.comments .author a:hover {color:#ec902d;}
.comments .moderate {width:24px;height:16px;padding:0;margin:0;border:none;background:transparent url(../images/theme/icons.png) no-repeat;background-position:0 -72px;vertical-align:text-bottom;text-indent:-9999px;cursor:pointer;}
.comments pre {font-family:monospace;font-size:10pt;}
.comments blockquote {font-size:small;margin-right:0;}

.newcomment > h6 {color:#666666;background:transparent url(../images/theme/icons/edit.png) no-repeat;text-indent:30px;line-height:24px;}

.bbcodebar {margin:1em 0 5px;}
.bbcodebar_limiter {font-size:x-small;margin-left:10px;}
.bbcodehelp {color:#666666;font-size:x-small;font-style:normal;margin-top:0.5em;}

.visits, .vote {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#444444;}
.visits {float:right;margin-left:1em;margin-top:0.25em;font-size:smaller;background:transparent url(../images/theme/icons/visit.png) no-repeat;text-indent:24px;line-height:24px;}
.vote {float:right;margin-left:1em;margin-top:0.25em;}
.vote .count {float:left;margin-right:0.25em;}
.vote .plusone {width:24px;height:24px;padding:0;margin:0;border:none;background:transparent url(../images/theme/icons.png) no-repeat;background-position:-48px -24px;text-indent:-9999px;}
.vote span.plusone {display:inline-block;cursor:default;}
.vote input.plusone {cursor:pointer;}

#searchlinks ol {margin-top:0.5em;margin-left:0;padding:0;}
#searchlinks li {list-style:none;margin:1em 0;}
#searchlinks a {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
#searchlinks li p {margin:0.5em 0;font-size:small;font-style:italic;}
#searchlinks li div {color:#666666;margin:0.5em 0;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-style:normal;font-size:small;}

#summary {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:small;text-align:right;margin:0 0 1em 0;padding:10px;border-style:solid;border-color:#eaefb3;border-width:1px 1px 4px 6px;background-color:#ffffff;}

#mailme_message {font-family:Verdana, sans-serif;font-size:10pt;}

#upload_status {font-size:smaller;}

.userresult {color:#aec14e;font-weight:bold;}
.userpagenumber {font-size:large;}
.username {font-weight:bold;}
.usermail {font-style:italic;}
.userlogged {text-align:right;}

#userlist {border-spacing:0;}

#useredit_status {background-color:#ffffe0;}
#useredit_accessed {font-size:small;}

#userbalance {float:right;}

.balance {text-align:right;}
.balance span {font-size:larger;display:block;}

.summary {float:right;display:block;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:small;text-align:right;margin:0 0 1em 2em;padding:10px;border-style:solid;border-color:#eaefb3;border-width:1px 1px 4px 6px;background-color:#ffffff;}
.summary li {list-style:none;}

.meter.inerror > span {background-color:#df6f6f !important;}

#pinterest-board > span {box-shadow:none !important;}
#pinterest-board > span > span {overflow:hidden;}
