SetEnv PHP_VER 5
SetEnv REGISTER_GLOBALS 0

Options -Indexes
Options +FollowSymLinks

RewriteEngine On
RewriteRule ^(favicon\.ico) - [NC,L]
RewriteRule /*\.(css|js|gif|png|jpe?g|ico|svg)$ - [NC,L]
RewriteRule ^(.*)$ index.php [QSA,L]
